@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');
:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #A1B3AC;
    --body-color: #013440;
    --heading-color: #003F63;
    --contrast-color: #F58766;

}
body {
    padding-left: 4em;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(112.5deg, rgb(210,205,205) 0%, rgb(210,205,205) 10%,rgb(173,173,173) 10%, rgb(173,173,173) 53%,rgb(169,168,168) 53%,
     rgb(169,168,168) 55%,rgb(134,133,133) 55%, rgb(134,133,133) 60%,rgb(111,109,109) 60%, rgb(111,109,109) 88%,rgb(81,78,78) 88%, rgb(81,78,78) 91%,
     rgb(37,36,36) 91%, rgb(37,36,36) 100%),linear-gradient(157.5deg, rgb(210,205,205) 0%, rgb(210,205,205) 10%,
     rgb(173,173,173) 10%, rgb(173,173,173) 53%,rgb(169,168,168) 53%, rgb(169,168,168) 55%,rgb(134,133,133) 55%, rgb(134,133,133) 60%,rgb(111,109,109) 60%, 
     rgb(111,109,109) 88%,rgb(81,78,78) 88%, rgb(81,78,78) 91%,rgb(37,36,36) 91%, rgb(37,36,36) 100%),linear-gradient(135deg, rgb(210,205,205) 0%, 
     rgb(210,205,205) 10%,rgb(173,173,173) 10%, rgb(173,173,173) 53%,rgb(169,168,168) 53%, rgb(169,168,168) 55%,rgb(134,133,133) 55%, rgb(134,133,133) 60%,
     rgb(111,109,109) 60%, rgb(111,109,109) 88%,rgb(81,78,78) 88%, rgb(81,78,78) 91%,rgb(37,36,36) 91%, rgb(37,36,36) 100%),linear-gradient(90deg, rgb(173,173,173),
     rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
    color: var(--body-color);
}
strong {
    font-size: 36px;
}
/* main {
    /* background-color: var(--light-color); */
/* }  */

/* header, nav, nav a {
    background-color: var(--light-color);
} */
h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    color: var(--heading-color);
    margin-top: 0;
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
    text-decoration: none;
}

a:hover {
    color: var(--contrast-color);
    text-decoration-color: var(--heading-color);
    text-decoration: none;
}
body#about img {
    height: 30em;
    margin-top: 2em;
    margin-bottom: 10%;
}

p {
    max-width: 45em;
}
body {
    display: grid;
    grid-template-areas: "head head"
                        "nav main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 23.4em) {
    body {
        grid-template-areas: "head head"
                            "nav main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
    
}

body > header {
    grid-area: head;
}
body > nav {
    grid-area: nav;
}
body > nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
body > nav ul li{
    display:flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-right: 1rem;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
header h1, footer h1 {
    margin-bottom: 1em;
}
body#portfolio ul {
    padding: 0;
}
body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    
}
body#portfolio ul#portfolioItems img {
    max-width: 100%;
}
body#portfolio h1 {
    margin-bottom: 1em;
}
body#portfolio h2 {
    font-size: 1.5em;
}
body#resume h2 {
    font-size: 1.5em;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}


