:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
}
body {
    padding-left: 4em;
    font-size: 18px;
    line-height: 1.5;
}
h1, h2, h3 {
    line-height: 1.2;
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}
body {
    display: grid;
    grid-template-areas: "head head"
                        "nav main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 23.4em) {
    body {
        grid-template-areas: "head head"
                            "nav main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
    
}

body > header {
    grid-area: head;
}
body > nav {
    grid-area: nav;
}
body > nav ul {
    list-style-type: none;
    padding: 0;
}
body > nav ul li{
    display: inline;
    padding-right: 1rem;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: foot;
}
header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}
body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
}
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}


body#portfolio ul#portfolioItems img {
    max-width: 100%;
}